*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(17, 17, 17);
}
ul,li,a,img {
    text-decoration: none;
    display: inline;
}
a{
    color: white;
}
li{
    padding: 19px;
    font-size: 15px;
    cursor: pointer;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
    background-color: black;
    color: aliceblue;
    height: 42px;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 43px;
    height: 43px;
}
span{
    color: #e03030;
    font-weight: 600;  
}
.nright button{
    background-color: black;
    color:white;
    border: 1px solid white;
    min-height: 27px;
    min-width: 60px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
}

li a:hover{
    color: rgb(221, 221, 221);
}
.nright button:hover{
    background-color:rgb(59, 59, 59);
}
button a{
    color: white;
}

.nav-rez{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

section{
    padding: 150px 0;

}
.contact{
    font-family: 'Poppins', sans-serif ;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #000000;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #e03030;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.contact{
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background: rgb(17, 17, 17);
}
.contact .title::after{
    content: "get in touch";
    background: rgb(17, 17, 17);
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height:65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #e03030;
}
.contact .contact-content .info .head{
    font-weight: 500; 
}
.contact .contact-content .info .sub-title{
    color: #8F8F8F;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppnis', sans-serif;
    background: #d6d6d6;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #e03030;
    background:#e03030;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #e03030;
    background: none;
}


@media screen and (max-width:1220px){
    header{
        padding: 0px 10px;
    }
}
@media(max-width:991px){
    .max-width{
        padding: 0 50px;
    }
}
@media screen and (max-width:776px){

    .nav-rez{
        display: block;
        padding-right: 7px;
      }
    
      .nav-rez.active .bar:nth-child(2){
        opacity: 0;
      }
      .nav-rez.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .nav-rez.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }

      .nav-menu{
        position: fixed;
        left: -100%;
        top: 41px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
      }
    
      .nav-item{
        font-size: 17px;
        margin: 10px 0;
      }
    
      .nav-menu.active{
        left: 0;
      }
}

@media(max-width:670px){

    .max-width{
        max-width:800px;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

}

@media(max-width:690px){
    .max-width{
        padding: 0 23px;
    }
}