*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,li,a,img {
    text-decoration: none;
    display: inline;
}
a{
    color: white;
}
li{
    padding: 19px;
    font-size: 15px;
    cursor: pointer;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
    background-color: black;
    color: aliceblue;
    height: 42px;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 43px;
    height: 43px;
}
span{
    color: #e03030;
    font-weight: 600;  
}
.nright button{
    background-color: black;
    color:white;
    border: 1px solid white;
    min-height: 27px;
    min-width: 60px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
}

li a:hover{
    color: rgb(221, 221, 221);
}
.nright button:hover{
    background-color:rgb(59, 59, 59);
}
button a{
    color: white;
}

.contanier{
    margin:70px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contanier .right{
    height: auto;
    flex-basis: 40%;
    min-width: 400px;
}
.contanier .left{
    height: auto;
    width: 60%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}


.child{
    width:40%;
    margin: 5px;
    height: auto;
    flex-grow: 1;
}

.right h1{
    text-align: center;
    font-size: 36px;
}
.right img{
    width: 100%;
    height: auto;
}

.child img{
    width: 100%;
    height: auto;
}
.child h2{
    text-align: start;
    font-size: 21px;
}
.contanier p{
    margin-top: 40px;
    font-weight: 300;
    font-size: 25px;
    color: rgb(47, 47, 47);
}
.around{
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.world{ 

    flex-basis: 356px;
    flex-grow: 1;
    height: auto;
    margin: 5px;
}

.world img{
    width: 100%;
    height: 220px;
    margin: 0;
}
.world p{
    display:inline-block;
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding: 7px;
    margin: 0;
    font-weight: bold;
    font-size: 19px;
}
.child h2:hover,.right h1:hover,.right h3:hover,.world h2:hover{
    color: #e03030;
}
hr{
    height: 3px;
    border: none;
    background-color: rgb(46, 46, 46);
    margin-top: 1px
}

.nav-rez{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media screen and (max-width:1320px){
    .contanier{
        margin:70px 70px;
    }
    .contanier .right{
        flex-basis: 100%;
    }
    .contanier .left{
        width: 100%;
    }
    .child{
        width: 40%;
    }
}
@media screen and (max-width:1220px){
    header{
        padding: 0px 10px;
    }
}
@media screen and (max-width:776px){

    .nav-rez{
        display: block;
        padding-right: 7px;
      }
    
      .nav-rez.active .bar:nth-child(2){
        opacity: 0;
      }
      .nav-rez.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .nav-rez.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }

      .nav-menu{
        position: fixed;
        left: -100%;
        top: 41px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
      }
    
      .nav-item{
        font-size: 17px;
        margin: 10px 0;
      }
    
      .nav-menu.active{
        left: 0;
      }
    }
@media screen and (max-width:600px){
    .contanier{
        margin:70px 0px;
    }
}