*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(2, 2, 2, 0.995) 75%, rgb(91, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 500px;
    height: 550px;
    background-color: rgba(23, 23, 23, 0.995);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.login .logo{
    text-align: center;
}
.login .logo img{
    width: 69px;
    height: 35px;
    text-align: center;

}
.login .logo h1{
    color: white;
    font-size: 25px;
    margin-top: 35px;
}
.login .logo p{
    color: rgb(174, 174, 174);
    margin-top: 13px;
    font-size: 15px;
}
#span, .logo p a{
    color: white;

}
#span:hover ,.logo p a{
    color: rgb(174, 174, 174);
    cursor: pointer;
}
.logo input{
    width: 100%;
    height: 45px;
    background-color: rgba(23, 23, 23, 0.995);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 600;
}
.logo input::placeholder{
    
    font-weight: bold;
    font-size: 16px;
    color:rgb(204, 204, 204);
}

.logo #forgot{
    text-align: left;
    font-size: 13px;
    color: white;
}
.logo #forgot a{
    text-decoration: none;
    color: white;
}
.logo #forgot a:hover{
    color: rgb(174, 174, 174);
}
 
button{
    width: 100%;
    height: 50px;
    color: white;
    background-color:#e03030;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}



.input-control .error{
    width: 100%;
    text-align: left;
    color: #e03030;
    margin-right: 100%;
    font-size: 13px;
    
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #e03030;
}